server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

        routes:
          - id : test_route
            uri: http://httpbin.org
            predicates:
              - Path=/test/**
            filters:
              - StripPrefix=1

  main:
    web-application-type: reactive

eureka:
   client:
    service-url:
      defaultZone: http://localhost:8761/eureka/